.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(498px, 1fr));
    min-height: 100vh;
    max-width: 100vw;
}
.thumnnailContainer > img {
    margin: 0.5rem;
}
.thumnnailContainer > img:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000;
}
.selectedContainer > img {
    margin: 0.5rem;
    width: 100%;
    max-width: 600px;
}
.selected {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px cornflowerblue;
}
